
        body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: rgb(207, 193, 193);
        margin: 0;
        } 
    /************************ end of body styling*/ 
        #page-cover {
            background-color: lightgray;
            min-height:200px;
            margin:auto;
            width:60%;
        }
        #main-cover {
            text-align: center;
            margin-bottom:0px;
            width:100%;
        }
        #pro-pic {
            margin-top: -106px;  
        }
        #pro-pic img {
            margin: 0px auto; border-radius:90px;border: solid 1px white;
        }

        #link {
            width: auto;display: inline-block; text-align: center;
            
        }
        .link {
            display: inline-block; 
            margin: 5px;
            text-align: center;
            color: blue;
            font-size: 1.2em;
            font-weight: bolder;
        }
        #friends_img {
            width: 75px;
            float: left;
            margin: 10px;
        }
        #friends_bar{
            background-color: white;
            min-height: 400px;
            margin-top: 10px;
            color: #405d9b;
            padding: 8px;
        }
    .name {
        color: #405d9b; 
        font-size: 1.2em;
        font-weight: bolder;
    }
    #friends {
        clear: both;
        
    }
    textarea {
        width: 100%;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
    }
    #post_button{
         float: right; background-color: blue;border: none;color: white;padding: 2px;font-size: 14px;border-radius: 3px;
        min-width: 50px; width: 50px; cursor: pointer;
       
        
    }
    #image_post{
        background-color: #607076; color: white; border-radius: 3px;
        width: 35%; float: left; margin: 5px auto;
    }

    #post_bar {
        margin-top: 10px;
        background-color: white;
        padding: 10px;
        
    }
    #post {
        padding: 4px;
        font-size: 13px;
        display: flex;
        margin-bottom:10px;
        border-radius: none;
        
    }
     #postText :active{
        border: none;
    }

/* *************************** END OF PROFILE PAGE STYLES ***************************** */
